.intro {
  background-color: white;
  display: flex;
}

.right-img {
  flex: 0.5;
}

.imagecontainer {
  height: 550px;
  width: 550px;
  border-radius: 50%;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
}

.left-text {
  flex: 0.5;
  margin-top: 200px;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  color: blue;
}

.gradient-text {
  background: linear-gradient(45deg, #091292, #ffa07a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}

.down {
  height: 30px;
  width: 30px;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    text-align: center;
  }

  .right-img,
  .left-text {
    flex: 1;
  }

  .left-text {
    margin-top: 20px;
  }

  .imagecontainer {
    height: 300px;
    width: 300px;
    margin: 20px auto;
  }
}
